.container
  .row
    .col-md-10.col-sm-6.col-md-offset-1
      %section
        %header
          %h1 Rails and React II: A real use case
      %br

      = react_component 'PeopleSection', {}, :div
